.clients {
	.wrapper__slider {
		position: relative;
	}
	&__slider {
		margin-top: 54px;
		position: relative;
	}
	.slick-prev {
		width: 40px;
		height: 40px;
		background: #456D85;
		position: absolute;
		top: -60px;
		left: initial;
		right: 60px;
		&:before {
			content: '';
			display: block;
			background-image: url(static/arrow.png);
			width: 11px;
			height: 21px;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			padding: 0 18px;
		}
	}
	.slick-next {
		width: 40px;
		height: 40px;
		background: #456D85;
		top: -60px;
		right: 0;
		&:before {
			content: '';
			display: block;
			background-image: url(static/arrow.png);
			width: 11px;
			height: 21px;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			-webkit-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			transform: rotate(180deg);
			padding: 0px 22px;
		}
	}
	
}