.clients {
	position: relative;
	width: 100%;
	.wrapper__slider {
		position: relative;
	}
	&__slider {
		margin-top: 54px;
		position: relative;
	}
	.slick-prev {
		width: 40px;
		height: 40px;
		background: #456D85;
		position: absolute;
		top: -60px;
		left: initial;
		right: 60px;
		&:before {
			content: '';
			display: block;
			background-image: url(static/arrow.png);
			width: 11px;
			height: 21px;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			padding: 0 18px;
		}
	}
	.slick-next {
		width: 40px;
		height: 40px;
		background: #456D85;
		top: -60px;
		right: 0;
		&:before {
			content: '';
			display: block;
			background-image: url(static/arrow.png);
			width: 11px;
			height: 21px;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			-webkit-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			transform: rotate(180deg);
			padding: 0px 22px;
		}
	}
	.card {
		height: 340px;
		background: #FFFFFF;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		@media screen and (min-width: 319px) {
			width: 100%;
		}
		@media screen and (min-width: 1365px) {
			width: 300px;
		}
		&__wrapper {
			padding: 0 10px;
			@media screen and (min-width: 666px) {
				padding: 0 5px;
			}
			@media screen and (min-width: 1365px) {
				padding: 0;
			}
		}
		&__img {
			background-size: 100%;
			width: 182px;
			height: 182px;
			margin: 0 auto;
		}
		&__button {
			width: 206px;
			height: 45px;
			display: flex;
			justify-content: center;
			align-items: center;
			background: #456D85;
			margin: 0 auto;
			font-family: Montserrat;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
			display: flex;
			align-items: center;
			text-align: center;
			text-transform: uppercase;
			color: white;
			transition: 0.3s ease;
			box-shadow: 0 0 5px rgba(29, 157, 211, 0.5);
			&:hover {
				background: rgba(29, 157, 211, 0.8);
				box-shadow: 0 0 5px rgba(29, 157, 211, 0.5);
			}
		}
	}
}