.grid-contain {
		.grid {
		margin-top: 54px;
		display: flex;
		flex-wrap: wrap;
		@media screen and (min-width: 350px) {
			justify-content: space-around;
		}
		@media screen and (min-width: 1365px) {
			justify-content: space-between;
		}
		.card {
			width: 300px;
			height: 186px;
			background-size: 100%;
			margin-bottom: 30px;
			transition: 0.3s ease;
			backface-visibility: hidden;
			&:hover {
				background-size: 120%;
			}
			&__wrapper {
			background: rgba(13, 52, 78, 0.75);
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			backface-visibility: hidden;
			padding: 0 30px;
			}
			&__title {
				font-family: Montserrat;
				font-style: normal;
				font-weight: normal;
				font-size: 22px;
				line-height: 27px;
				text-align: center;
				color: #FFFFFF;
				pointer-events: none;
			}
		}
	}
}
