.intro {
	padding: 152px 315px 209px;
	color: white;
	.content {
		&__title {
			font-family: Montserrat;
			font-style: normal;
			font-weight: bold;
			font-size: 48px;
			line-height: 59px;
			width: fit-content;
		}
		&__text {
			font-family: Montserrat;
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			line-height: 140%;
			color: rgba(255, 255, 255, 1);
			max-width: 847px;
			margin: 10px 0 42px;
			span {
				font-weight: bold;
			}
		}
		&__button {
			display: inline-block;
			background: #1D9DD3;
			border: 2px solid #22AFEB;
			font-family: Montserrat;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
			text-transform: uppercase;
			padding: 19px 34px;
			transition: 0.5s ease;
			span {
				opacity: 0.9;
			}
			&:hover {
				background: rgba(29, 157, 211, 0.8);
				border: 2px solid rgba(29, 157, 211, 0.5);
				box-shadow: 0 0 5px rgba(29, 157, 211, 0.5);
				span {
					opacity: 1;
				}
			}
		}
	}
}
