.intro {
	width: 100%;
	background-image:url(static/background-main.jpg);
	top: 0;
	position: relative;
		@media screen and (min-width: 319px) {
			background-position: center;
		}
		@media screen and (min-width: $desktop) {
			background-position: bottom 690px right -200px;
		}
	&__gradient {
		background: linear-gradient(90deg, #182B41 0%, #182B41 1.08%, rgba(24, 43, 65, 0.3) 40.79%, rgba(24, 43, 65, 0) 100%);
		position: relative;
		@media screen and (min-width: 319px) {
			padding: 70px 0;
		}
		@media screen and (min-width: 768px) {
			padding-top: 150px;
			padding-bottom: 130px;
		}
		@media screen and (min-width: 1310px) {
			//padding: 237px 0 209px;
			padding: 200px 0 180px;
		}
	}
	.content {
		max-width: 1290px;
		margin: 0 auto;
		color: white;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		&__title {
			font-family: Montserrat;
			font-style: normal;
			font-weight: bold;
			width: fit-content;
			@media screen and (min-width: 319px) {
				font-size: 30px;
				line-height: 36px;
			}
			@media screen and (min-width: 666px) {
				font-size: 48px;
				line-height: 59px;
			}
		}
		&__text {
			font-family: Montserrat;
			font-style: normal;
			font-weight: normal;
			line-height: 140%;
			color: rgba(255, 255, 255, 1);
			max-width: 847px;
			@media screen and (min-width: 319px) {
				font-size: 18px;
				margin: 20px 0 50px;
			}
			@media screen and (min-width: 666px) {
				font-size: 24px;
			}
			@media screen and (min-width: 768px) {
				margin: 10px 0 42px;
			}
			span {
				font-weight: bold;
			}
		}
		&__button {
			display: inline-block;
			background: #1D9DD3;
			border: 2px solid #22AFEB;
			font-family: Montserrat;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
			text-transform: uppercase;
			padding: 19px 34px;
			transition: 0.5s background ease;
			@media screen and (min-width: 319px) {
				width: 100%;
			}
			@media screen and (min-width: 666px) {
				margin: 0;
				width: fit-content;
			}
			span {
				opacity: 0.9;
			}
			&:hover {
				background: rgba(29, 157, 211, 0.8);
				box-shadow: 0 0 5px rgba(29, 157, 211, 0.5);
				span {
					opacity: 1;
				}
			}
		}
	}
}
