.intro {
	width: 100%;
	&__wrapper {
		background-image:url(static/background-main.jpg);
		position: relative;
		top: -85px;
		@media screen and (min-width: 319px) {
			top: 0;
			background-position: center;
			}
		@media screen and (min-width: 1310px) {
			top: -85px;
		}
	}
	.content {
		max-width: 1290px;
		margin: 0 auto;
		color: white;
		@media screen and (min-width: 319px) {
			padding: 70px 20px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
		@media screen and (min-width: 768px) {
			padding-top: 237px;
			padding-bottom: 209px;
		}
		@media screen and (min-width: 1310px) {
			padding: 237px 0 209px;
		}
		&__title {
			font-family: Montserrat;
			font-style: normal;
			font-weight: bold;
			width: fit-content;
			@media screen and (min-width: 319px) {
				font-size: 30px;
				line-height: 36px;
			}
			@media screen and (min-width: 666px) {
				font-size: 48px;
				line-height: 59px;
			}
		}
		&__text {
			font-family: Montserrat;
			font-style: normal;
			font-weight: normal;
			line-height: 140%;
			color: rgba(255, 255, 255, 1);
			max-width: 847px;
			@media screen and (min-width: 319px) {
				font-size: 18px;
				margin: 20px 0 50px;
			}
			@media screen and (min-width: 666px) {
				font-size: 24px;
			}
			@media screen and (min-width: 768px) {
				margin: 10px 0 42px;
			}
			span {
				font-weight: bold;
			}
		}
		&__button {
			display: inline-block;
			background: #1D9DD3;
			border: 2px solid #22AFEB;
			font-family: Montserrat;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
			text-transform: uppercase;
			padding: 19px 34px;
			transition: 0.5s background ease;
			@media screen and (min-width: 319px) {
				margin: 0 auto;
			}
			@media screen and (min-width: 666px) {
				margin: 0;
			}
			span {
				opacity: 0.9;
			}
			&:hover {
				background: rgba(29, 157, 211, 0.8);
				border: 2px solid rgba(29, 157, 211, 0.5);
				box-shadow: 0 0 5px rgba(29, 157, 211, 0.5);
				span {
					opacity: 1;
				}
			}
		}
	}
}
