.slider {
	&__card {
		cursor: pointer;
		.card {
			position: relative;
			&__wrapper {
			}
		}
	}
}
.slick-prev:before {
	content: '';
	display: block;
	background-image: url(static/arrow.png);
	background-position: center ;
	background-size: contain;
	background-repeat: no-repeat;
	height: 58px;
	width: 34px;
	position: absolute;
	top: -20px;
	left: -58px;
}

.slick-next:before {
	content: '';
	display: block;
	background-image: url(static/arrow.png);
	background-position: center ;
	background-size: contain;
	background-repeat: no-repeat;
	transform: rotate(180deg);
	height: 58px;
	width: 34px;
	position: absolute;
	top: -20px;
	left: 28px;
}
.slick-dots {
	bottom: -60px;
}
.slick-dots li {
	margin: 0 15px;
}
.slick-dots li button:before {
	color: transparent;
	opacity: 0.8;
	background-image: url(static/dot.png);
	background-size: cover;
	background-repeat: no-repeat;
	width: 25px;
	height: 25px;
}
.slick-dots li.slick-active button:before {
	color: transparent;
	background-image: url(static/dot-active.png);
	background-size: cover;
	background-repeat: no-repeat;
}