.production__wrapper {
	background: linear-gradient(90deg, #182B41 0%, #182B41 52.08%, rgba(24, 43, 65, 0.3) 69.79%, rgba(24, 43, 65, 0) 100%);
	position: relative;
}

/*intro*/
.intro_production {
	color: white;
	&__bg {
		position: absolute;
		width: 50%;
		height: 100%;
		right: 0;
		top: 0;
		background-size: cover;
		z-index: -1;
	}
	.content {
		&__title {
			font-family: Montserrat;
			font-style: normal;
			font-weight: bold;
			font-size: 48px;
			line-height: 59px;
			width: fit-content;
			max-width: 501px;
			span {
				font-weight: normal;
			}
		}
		&__text {
			font-family: Montserrat;
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			line-height: 140%;
			color: rgba(255, 255, 255, 0.95);
			max-width: 847px;
			margin: 10px 0 42px;
			span {
				font-weight: bold;
			}
		}
	}
}


/*grid*/

.production-cards {
	&__grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 80px 0 0;
	}
	.card {
		width: 30%;
		font-family: Montserrat;
		color: #000000;
		margin-bottom: 50px;
		&__wrapper {
		}
		&__img {
			width: 410px;
			height: 280px;
			background-size: 100% 100%;
			transition: 0.3s ease;
			cursor: pointer;
			&:hover {
				background-size: 110% 110%;
			}
		}
		&__title {
			font-style: normal;
			font-weight: bold;
			font-size: 20px;
			line-height: 23px;
			display: flex;
			align-items: center;
			letter-spacing: -0.02em;
			margin: 15px 0;
		}
		&__info {
			font-style: normal;
			font-weight: 600;
			font-size: 16px;
			line-height: 130%;
		}
	}
}

