/*intro*/
.intro_production {
	color: white;
	.content {
		&__title {
			font-family: Montserrat;
			font-style: normal;
			font-weight: bold;
			font-size: 48px;
			line-height: 59px;
			width: fit-content;
			max-width: 501px;
			@media screen and (min-width: 319px) {
				font-size: 26px;
				line-height: 32px;
			}
			@media screen and (min-width: 666px) {
				font-size: 48px;
				line-height: 59px;
			}
			span {
				font-weight: normal;
			}
		}
		&__text {
			font-family: Montserrat;
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			line-height: 140%;
			color: rgba(255, 255, 255, 0.95);
			max-width: 847px;
			margin: 10px 0 42px;
			@media screen and (min-width: 319px) {
				font-size: 18px;
				margin: 20px 0 50px;
			}
			@media screen and (min-width: 666px) {
				font-size: 24px;
			}
			@media screen and (min-width: 768px) {
				margin: 10px 0 42px;
			}
			span {
				font-weight: bold;
			}
		}
	}
}


