.intro {
	&-scopes {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		.content {
			&__text {
				font-family: Montserrat;
				font-style: normal;
				font-weight: bold;
				font-size: 36px;
				line-height: 44px;
				color: #FFFFFF;
			}
		}
	}
}
.scopes-info {
	&__lists {
		width: 100%;
	}
	.wrapper {
		padding-top: 75px;
		padding-bottom: 75px;
	}
	&__text {
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 140%;
		color: #113E52;
		&:last-child {
			margin-top: 40px;
		}
		@media screen and (min-width: 319px) {
			width: 100%;
			text-align: center;
		}
		@media screen and (min-width: 666px) {
			text-align: left;
		}
	}
}